# Sobre el dataset 3

## Fuente y tipo de datos
Se obtienen de kaggle:
https://www.kaggle.com/datasets/mosapabdelghany/medical-insurance-cost-dataset/data

Los datos son archivos CSV, contiene información sobre el costo del seguro médico de 1338 personas. Incluye variables demográficas y de salud, como edad, sexo, IMC, número de hijos, tabaquismo y región de residencia en EE. UU. La variable objetivo son los cargos, que representan el costo del seguro médico facturado a la persona.
Fuente de datos primaria

## Características
Número de registros: Filas: 1338, Columnas: 7

Atributos: Se tienen las siguientes columnas age. sex, bmi, children, smoker, region y charges
age: Edad del beneficiario principal (int)

sex: Sexo del beneficiario (masculino, femenino)

bmi: Índice de Masa Corporal, una medida de la grasa corporal basada en la altura y el peso (float)

children: Número de hijos cubiertos por el seguro médico (int)

smoker: Estado de tabaquismo del beneficiario (sí, no)

region: Región de residencia en EE. UU. (noreste, noroeste, sureste, suroeste)

charges: Costo del seguro médico facturado al beneficiario (float)
Tamaño de los datos: 16k

## Nivel de Documentación disponible y posibles aplicaciones
Tiene una buena documentación en kaggle y se puede ver el dataset en la web de kaggle.

posibles aplicaciones:

1. Desarrollar modelos predictivos de costos médicos
2. Explorar cómo el tabaquismo y el IMC afectan los costos
3. Enseñar a los estudiantes sobre regresión e ingeniería de características
4. Analizar las tendencias de asequibilidad de la atención médica

Titanic - Machine Learning from Disaster
https://www.kaggle.com/c/titanic

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mosapabdelghany/medical-insurance-cost-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mosapabdelghany/medical-insurance-cost-dataset?dataset_version_number=1...

100%|██████████| 16.0k/16.0k [00:00<00:00, 13.9MB/s]

Extracting files...
Path to dataset files: /home/david/.cache/kagglehub/datasets/mosapabdelghany/medical-insurance-cost-dataset/versions/1

In [6]:
# Bloque 1: Importación de librerías y carga de datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración para visualizaciones
plt.style.use('default')
sns.set_palette("husl")

# Hubicación del dataset
path_dataset = path + "/insurance.csv"

# Cargar el dataset
df = pd.read_csv(path_dataset)

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

Filas: 1338, Columnas: 7